.card {
  display: inline;
  float: left;
  cursor: pointer;
  min-width: 250px;
  min-height: 360px;
  margin: 1rem 2rem;
  position: relative;
}

.movieInfo {
  padding-bottom: 0.5rem;
  
}

.title {
  font-weight: bold;
  font-size: 0.9rem;
  position: relative;
  padding: 2rem 0.7rem 1rem;
}

/* .description {
  height: 3rem;
  overflow-y: scroll;
} */

.back p {
  font-size: 0.75rem;
  padding: 1rem;
  height: 10rem;
  overflow-y: scroll;
}

.back p::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
.back Button {
  font-size: 0.8rem;
}

.front,
.back {
  display: flex;
  border-radius: 6px;
  background-position: center;
  text-align: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: ease-in-out 700ms;
}

.front {
  background-size: cover;
  padding: 2rem;
  overflow: hidden;
}

.card:hover .front, .card:active .front {
  transform: rotateY(180deg);
}

.back {
  background: #c4c1c1;
  transform: rotateY(-180deg);
  justify-content: space-between;
}

.card:hover .back, .card:active .back {
  transform: rotateY(0deg);
}

@media (max-width:420px) {
  .front, .back {
    -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  }
}
