.home {
    background-color: #d8e4f0;
    width:100%; 
    position:absolute;
    left:0px; 
}

.text {
    position: absolute;
    top: 16rem;
    left: 5rem;
    z-index: 1;
}

.picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed
}